.creditCardForm {
    max-width: 600px;
    background-color: #6593A7;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: white;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


.menu {
	background:url(images/menuBackground.png) repeat-x left top;
	height:75px;
        width: auto; 
	text-align:center;
        margin-left: auto;
        margin-right: auto;
}
.menu ul {
	margin:0;
	padding-top:32px;
}
.menu li {
	list-style:none;
	display:inline;
	padding:20px 15px 0 15px;
}
.menu li a {
	color:#ffffff;
	font-size:24px;
	text-decoration:none;
}
.menu li a:hover {
	color:#EADAA8;
	font-size:24px;
	text-decoration:none;
}
.menu #active a {
	color:#EADAA8;
	font-size:24px;
	text-decoration:none;
}
.allContent {
	width:800px;
	margin:auto;
	padding:130px 0 0 0;
}



